.topnav {
  font-family: pirata one;
  font-size: x-large;
  text-align: center;
}
a {
  color: black;
}

body {
  font-size: larger;
  background-color: linen;
  background: radial-gradient(rgb(243, 242, 238) 10%, rgb(223, 223, 101) 100%);
}
h1 {
  margin-top: 40px;
  text-align: center;
  font-family: pirata one;
}
h2 {
  margin-top: 40px;
  text-align: left;
  font-family: pirata one;
}
h3 {
  font-family: pirata one;
}
.grid-container {
  justify-items: center;
  font-size: larger;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 5px;
  margin-right: 50px;
  margin-left: 50px;
}
.grid-items {
  align-items: right;
  border: 3px solid black;
  width: 350px;
  height: 550px;
  justify-self: center;

  padding: 5px;
}
.flex-container {
  justify-content: center;
  font-family: pirata one;
  font-size: 16pt;
  outline: black;
}
.flex-items {
  background-color: linen;
  padding: 20px;
  border: 2px solid black;
  margin: 50px 50px 50px 50px;
}
